body {
    background-image: url(../IMG/indexBackGround.jpg);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 100vh;
  }
  
  .container {
    width: 80%;
    height: 40px;
    position: relative;
    top: 40px;
    margin: 0 auto;
  }

  .imgLogo{
    margin-top: 40px;
    margin-left: 120px;
  }
  
  .logo {
    z-index:-1;
    margin-top:-50px;
    margin-left:-190px;
    font-size:30px;
  }
  


  .navigation-wrapper {
    position: relative;
  }
  .navigation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 45px;
    right: 100px;
    background: transparent;
    cursor: pointer;
  }
  .navigation-button .fa {
    border: 2px solid rgb(214, 37, 6);
    border-radius: 4px;
    padding: 17px;
    color: rgb(214, 37, 6);
  }

  
  .navigation-menu ul li {
    list-style: none;
    font-family: impact;
    font-weight: 300;
    color: hsl(0,0%,70%);
  }
  a:hover{
    padding: 15px 15px;
  }
  
  .navigation-menu {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    background-color: white;
    background-image: url(../IMG/fireNavBar.gif);
    background-position:center;
    background-size: cover;
    filter: grayscale(30%);
    
    height: 100%;
    transform: skewX(0deg) translate(100%,0);
    transform-origin: top right;
    transition: all .2s ease-in;
    cursor: pointer;
  }
  .navigation-menu ul {
    position: fixed;
    right: 120px;
    top: 120px;
    width: 400px;
    margin-top:100px;
    margin-right:-170px;
    cursor: pointer;
  }
  li:hover{
      color: rgba(255, 255, 255, 0.678);
  }
  .navigation-menu ul li {
    position: relative;
      z-index: 999;
    font-size: 32px;
    color: hsl(0,0%,10%);
    line-height: 64px;
  }
  .navigation-menu ul li  a {
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
 
  .navigation-menu.active {
    transform: skewX(8deg) translate(0,0);
      
  }
  
  .navigation-menu li {
    opacity: 0;
    transform: translate(0, 1px);
    transition: all .0s ease-in .1s;
    
  }
  .navigation-menu.active li {
    opacity: 1;
    transform: translate(0,0);
    transition: all .0.5s ease-in 0s;
  }
          .hero h1{
               
              margin-top: 130px;
              text-transform: uppercase;
              font-family: impact;
              font-size: 26px;
              letter-spacing: 4px;
              color: white;
              
               
          } 
          
          span{
              font-size: 65px;
              letter-spacing: 2px;
              font-family: impact;
          }
          
          .button {
              font-family: 'Roboto Condensed', sans-serif;
              font-weight: normal;
              font-size: 12px;
              margin-top: 40px;
          }
          .btn1:hover{
            padding: 12px 25px;
              text-decoration: none;
              background: #f20c4a;
              color: white;
          }
          .btn2:hover{
            padding: 12px 25px;
              text-decoration: none;
              background: #fcfcfc;
              color: rgb(0, 0, 0);
          }
          .btn1{
              padding: 12px 25px;
              background: #f20c49b6;
              text-decoration: none;
              color: white;
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
               
          }
          .btn2{
              padding: 12px 25px;
              background: #f4f6f888;
              text-decoration: none;
              color: rgba(0, 0, 0, 0.842);
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
               
          }
 