body {
    overflow: visible;
    height: 0px;
    background-image: url(../IMG/blurBackground.jpg);
    background-position: 0px 0px;
    background-size: auto;
    background-size: cover;
    background-repeat: repeat-x;
    -o-object-fit: fill;
    object-fit: fill;
}

.imgLogo {
    position: static;
    display: inline-block;
    margin-left: 9%;
    padding-top: 2%;
    width: 150px;
    z-index: -1;
}

.formBox {
    width: 22%;
    height: 470px;
    left: 50%;
    top: 45%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5%;
    background-color: rgba(124, 159, 187, 0.658);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.63);
}

.inner_Box {
    margin-top: 6%;
}

::placeholder {
    color: rgba(24, 24, 24, 0.575);
    opacity: 1;
}

.username,
.password {
    background: none;
    margin: 5% auto;
    padding: 25px 15px 20px 10px;
    border-radius: 6px;
    width: 200px;
    height: 0px;
    outline: none;
    transition: 0.30s;
    border-color: rgba(0, 0, 0, 0.575);
    border-top: none;
    border-right: none;
}

#view {
    display: inline-block;
    position: absolute;
    width: 30px;
    margin-top: 8%;
    margin-left: -10%;
    cursor: pointer;
}

#privacy {
    font-weight: 120;
    font-size: 13px;
    opacity: 80%;
}

.submit {
    background: none;
    margin: 6% auto;
    text-align: center;
    font-weight: 110;
    border: none;
    padding: 10px;
    color: rgba(255, 255, 255, 0.671);
    width: 200px;
    height: 45px;
    outline: none;
    border-radius: 50px;
    background-color: #2b2d26b4;
    border-width: 3px;
    cursor: pointer;
}

.submit:hover {
    background-color: #2b2d26dc;
    transition: 0.5s;
}

#loginlogo {
    margin-top: 10%;
    opacity: 55%;
}

#errorMessage1 {
    display: inline-block;
    position: absolute;
    margin-top: -4%;
    margin-left: 30%;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}

#errorMessage2 {
    display: inline-block;
    position: absolute;
    margin-top: -4%;
    margin-left: 3%;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}

.check {
    margin-top: 5%;
}