body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 69%, rgba(252, 176, 69, 1) 100%);
}

.imgLogo {
    position: static;
    display: inline-block;
    margin-left: 9%;
    padding-top: 2%;
    width: 150px;
    z-index: -1;
}

.formBox {
    width: 25%;
    height: 50%;
    left: 50%;
    top: 45%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 12%;
    border-color: #378fcacc;
}

.inner_Box {
    margin-top: 6%;
}

.header1 {
    margin-top: 15%;
    color: rgba(255, 255, 255, 0.918);
}

.username,
.password {
    background: none;
    margin: 5% auto;
    text-align: center;
    border: 2px solid black;
    padding: 25px 15px;
    color: white;
    width: 200px;
    height: 25px;
    outline: none;
    border-radius: 24px;
    border-color: #dad732cc;
    transition: 0.30s;
}

#view {
    display: inline-block;
    position: absolute;
    width: 30px;
    margin-top: 8%;
    margin-left: -10%;
    cursor: pointer;
}

.submit {
    background: none;
    margin: 6% auto;
    text-align: center;
    border: 2px solid black;
    padding: 25px;
    color: white;
    width: 180px;
    height: 75px;
    outline: none;
    border-radius: 24px;
    border-color: #1bbe31cc;
    cursor: pointer;
}

.submit:hover {
    background-color: #1bbe31cc;
    transition: 0.50s;
}