body {
    font-family: 'Libre Franklin', sans-serif;
    background-image: url(../IMG/mapBackground.jpg);
}

.container {
    height: 550px;
    margin: 2% auto;
    box-shadow: 0px 0px 10px #000000b2;
    position: relative;
    background-color: #ffffff71;
    z-index: 0;
}

#map {
    position: relative;
    height: 100%;
    width: 53%;
    float: left;
    margin-left: 20px;
}

.contact-form {
    width: 45%;
    padding-left: 6%;
    float: right;
}

.footermap {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    color: rgba(143, 143, 143, 0.863);
    padding-bottom: 0px;
    background-color: rgba(37, 37, 42, 0.637);
    z-index: 0;
    align-items: center;
}

.title {
    font-size: 2.5em;
    font-weight: 700;
}

.subtitle {
    font-size: 1.2em;
    font-weight: 400;
}

input,
textarea {
    width: 50%;
    padding: 3%;
    margin: 2% 2%;
    border: 1px solid blue;
}

.textf {
    margin-top: 2%;
}

.btn-send {
    width: 170px;
    height: 50px;
    font-weight: 70;
    margin: 2% 10%;
    border: none;
    background-image: url(../IMG/mapBackground.jpg);
    color: white;
    border-radius: 50PX;
}

.imgLogo {
    position: static;
    display: inline-block;
    margin-left: 9%;
    padding-top: 2%;
    width: 150px;
    z-index: -1;
}