body {
    overflow: visible;
    height: 0px;
    background-position: 0px 0px;
    background-size: auto;
    background-size: cover;
    background-repeat: repeat-x;
    -o-object-fit: fill;
    object-fit: fill;
    font-family: Arial, Helvetica, sans-serif;
}

.imgLogo {
    position: static;
    display: inline-block;
    margin-left: 9%;
    padding-top: 2%;
    width: 150px;
    z-index: -1;
}

.teamAlpha {
    margin-top: 5%;
    margin-left: 11%;
    margin-bottom: 3%;
    width: 22%;
    height: 500px;
    border: none;
    border-radius: 8px;
    background-color: rgba(240, 248, 255, 0.623);
}

.innerAlpha {
    text-align: center;
}

.teamBeta {
    float: left;
    margin-top: -600px;
    margin-left: 36.5%;
    width: 27%;
    height: 600px;
    border: none;
    border-radius: 8px;
    background-color: rgba(240, 248, 255, 0.623);
}

.innerBeta {
    text-align: center;
}

.teamGamma {
    float: right;
    margin-right: 11%;
    margin-top: -550px;
    border: none;
    border-radius: 8px;
    width: 22%;
    height: 500px;
    background-color: rgba(240, 248, 255, 0.623);
}

.cardtitle {
    background-image: url(../IMG/vehicle1Background.jpg);
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
}

.teamsHeader {
    margin-top: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.innerGamma {
    text-align: center;
}