body {
    overflow: visible;
    background-position: 0px 0px;
    background-size: auto;
    background-image: url(../IMG/teamsBackground.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    -o-object-fit: fill;
    object-fit: fill;
    font-family: Arial, Helvetica, sans-serif;
}

.imgLogo {
    position: static;
    display: inline-block;
    margin-left: 9%;
    padding-top: 2%;
    width: 150px;
    z-index: -1;
}

li {
    list-style: none;
}

.teamAlpha {
    float: left;
    margin-top: 100px;
    margin-left: 12%;
    margin-right: 45px;
    width: 22%;
    height: 50%;
    border: none;
    color: white;
    border-radius: 8px;
    background-color: rgba(240, 248, 255, 0.623);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url(../IMG/cardsBackground1.jpeg);
    background-size: cover;
    transition: 0.5s;
}

.innerAlpha {
    text-align: center;
    color: white;
    background-color: rgba(2, 2, 2, 0.664);
    padding-bottom: 24px;
    border-radius: 8px;
}

.teamAlpha:hover {
    margin-top: 40px;
    margin-left: 8%;
    margin-right: 11px;
    width: 28%;
    height: 60%;
}

.innerAlpha:hover {
    padding-bottom: 81px;
}

.members {
    font-size: 16px;
    margin-top: 15px;
    margin-right: 35px;
    letter-spacing: 1.5px;
    border: solid;
    border-right: none;
    border-top: none;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-bottom-color: rgb(179, 0, 0);
    border-left-color: rgb(122, 0, 0);
}

.teamBeta {
    float: left;
    margin-top: 100px;
    margin-left: 45px;
    margin-right: 45px;
    width: 22%;
    height: 50%;
    border: none;
    border-radius: 8px;
    color: white;
    background-image: url(../IMG/cardsBackground2.jpeg);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.teamBeta:hover {
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    width: 27%;
    height: 60%;
}

.innerBeta {
    text-align: center;
    color: white;
    background-color: rgba(2, 2, 2, 0.514);
    padding-bottom: 24px;
    border-radius: 8px;
}

.innerBeta:hover {
    padding-bottom: 86px;
}

.cardvehicle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.teamGamma {
    float: left;
    margin-left: 45px;
    margin-top: 100px;
    border: none;
    border-radius: 8px;
    width: 22%;
    height: 50%;
    background-image: url(../IMG/cardsBackground.jpeg);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.innerGamma {
    color: white;
    background-color: rgba(2, 2, 2, 0.514);
    padding-bottom: 24px;
    border-radius: 8px;
}

.teamGamma:hover {
    margin-top: 40px;
    margin-left: 0px;
    width: 28%;
    height: 60%;
}

.innerGamma:hover {
    padding-bottom: 81px;
}

h3 {
    margin-left: 40px;
    margin-right: 35px;
    border: solid;
    border-color: rgb(148, 0, 0);
    border-bottom-color: rgb(184, 0, 0);
    border-right-color: rgb(184, 0, 0);
    background-color: rgb(168, 0, 0);
}

.cardtitle {
    color: white;
    background-color: rgb(184, 0, 0);
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
}

.teamsHeader {
    margin-top: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.innerGamma {
    text-align: center;
}